.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  padding: 12px;
  background: #efefef;
}

.table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
